@font-face{
    font-family: 'Futura PT Bold', sans-serif;
    src:url('../fonts/futura-pt-bold.woff2')format('woff2'),
        url('../fonts/futura-pt-bold.woff')format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Futura PT Medium', sans-serif;
    src:url('../fonts/futura-pt-medium.woff2')format('woff2'),
        url('../fonts/futura-pt-medium.woff')format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Futura PT Light', sans-serif;
    src:url('../fonts/futura-pt-light.woff2')format('woff2'),
        url('../fonts/futura-pt-light.woff')format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}