%futura-light{
    font-family: 'Futura PT Light', sans-serif;
    font-weight: 300;
}
%futura-medium{
    font-family: 'Futura PT Medium', sans-serif;
    font-weight: 500;
}
%futura-bold{
    font-family: 'Futura PT Bold', sans-serif;
    font-weight: 700;
}